<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="nombreInvitado">
    <mat-header-cell *matHeaderCellDef> Noombre Invitado </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.nombreInvitado}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="regalo">
    <mat-header-cell *matHeaderCellDef> Regalo </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.regalo}} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="url">
    <mat-header-cell *matHeaderCellDef> URL </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.url}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
