<form class="form" action="" [formGroup]="imagenForm" >
  <section class="form-register">
    <div style="text-align: center; padding: 5px;">
      
    </div>
    <h4>Nuevo Regalo</h4>
    <!-- <input class="controls" type="text" formControlName="nombreInvitado" placeholder="Nombre"> -->
    <input class="controls" type="text" formControlName="regalo" placeholder="Regalo">    
    <input class="controls" type="text" formControlName="url" placeholder="Url">    
    <input class="buttons" type="submit" (click)=CrearImagen($event) value="Guardar">
    <!-- <input class="buttons" type="submit" (click)=EliminarImagen($event) value="Eliminar"> -->
  </section>
</form>
